# Coursera Applied Data Science Capstone Week 3 Project

## part one

In [2]:
!conda install -c conda-forge lxml --yes
import requests
import lxml.html as lh
import pandas as pd
print("Libraries imported.")

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.9.1
  latest version: 4.9.2

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxml2-2.9.10             |       hb55368b_3         1.2 MB
    libxslt-1.1.34             |       hc22bd24_0         432 KB
    lxml-4.6.2                 |   py36h04a5ba7_0         1.5 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following NEW packages will be INSTALLED:

  libxslt            pkgs/main/linux-64::libxslt-1.1.34-hc22bd24_0
  lxml               conda-forge/linux-64::lxml-4.6.2-py36h04a5ba7_0

The following packages will be UPDATED:

  libxml2             conda-forge::libxml2-2.9.9-h13577e0_2 --> pkgs/main::libxml2-2.9.10-hb55368b_3



Downloading and Extracting Packages
libxslt-1.1.34       | 432 KB    | ##################################### | 100%
libxml2-2.9.10       | 1.2 MB    | ##################################### | 100%
lxml-4.6.2           | 1.5 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [4]:

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

page = requests.get(url)

doc = lh.fromstring(page.content)

tr_elements = doc.xpath('//tr')
r = requests.get(url)

In [5]:
col=[]
i=0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighbourhood
"

In [10]:
size_of_col = 3
for j in range(1,len(tr_elements)):
    
    T=tr_elements[j]
    
    
    if len(T)!=size_of_col:
        break
    
   
    i=0
    
    
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        
            try:
                data=int(data)
            except:
                pass
        
        col[i][1].append(data)
        
        i+=1

In [11]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df = df.replace(r'\n','', regex=True) 
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df.drop(df.tail(1).index,inplace=True)
df.tail()

,PostalCode,Borough,Neighborhood
356,M5Z,Not assigned,Not assigned
357,M6Z,Not assigned,Not assigned
358,M7Z,Not assigned,Not assigned
359,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
360,M9Z,Not assigned,Not assigned

In [12]:
df = df[df.Borough != "Not assigned"].reset_index(drop=True)
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [13]:
df = df.replace(r'/',', ', regex=True)

In [14]:
for index, row in df.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]

In [15]:
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [16]:
print(df.shape)

(207, 3)

In [17]:
df.to_csv('CapstoneCanadaPre.csv')